{% extends 'blog/base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load uikit %}
{% block title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
{#    <div class="uk-container uk-container-small uk-flex uk-flex-center uk-flex-middle uk-margin-medium">#}
    <div class="uk-container uk-flex uk-flex-center">
        <div>
            <form class="uk-form-stacked" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {% uikit_form form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                {% trans "Sign In" as text %}
                {% uikit_form_button text %}
            </form>
            <p>使用第三方账户账户登录<p>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                <div class="uk-flex uk-flex-center">
                    <ul class="uk-iconnav">
                        {% for provider in socialaccount_providers %}
                            {% if provider.id == "openid" %}
                                {% for brand in provider.get_brands %}
                                    <li>
                                        <a title="{{ brand.name }}"
                                           class="socialaccount_provider {{ provider.id }} {{ brand.id }}"
                                           href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                                        >{{ brand.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li>
                                <a title="{{ provider.name }}" class="uk-link-muted"
                                   href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}">
                                    <i class="fa fa-{{ provider.name|lower }} fa-2x"></i>
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a title="admin" class="uk-link-muted" href="{% url 'admin:login' %}">
                                <i class="fa fa-sign-in fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {% providers_media_js %}
            {% endif %}
        </div>

    </div>
{% endblock %}