{% extends "account/base.html" %}

{% load i18n %}
{% load uikit %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <div class="uk-container">
        <h1>{% trans "Change Password" %}</h1>
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="{% url 'account_change_password' %}" class="uk-form-horizontal">
            {% csrf_token %}
            {% uikit_form form %}

            {% trans "Change Password" as text %}
            {% uikit_form_button text "action" %}
        </form>
    </div>
{% endblock %}
